* text=auto

*.sh text eol=lf
*.service text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.xlsx binary
*.zip binary
