{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card border-0 shadow-lg p-4" style="border-radius: 20px;">
                <h3 class="fw-bold mb-4 text-center">Mas'ul rahbar ma'lumotlari</h3>
                <form method="POST">
                    {% csrf_token %}
                    <div class="row g-4">
                        {% include 'components/form_group.html' with label="F.I.Sh" field=form.full_name col_class="col-md-12" %}
                        {% include 'components/form_group.html' with label="Tashkilot turi" field=form.organization_type col_class="col-md-6" %}
                        {% include 'components/form_group.html' with label="Darajasi" field=form.level col_class="col-md-6" %}
                        {% include 'components/form_group.html' with label="Tashkilot nomi" field=form.organization_name col_class="col-md-12" %}
                        {% include 'components/form_group.html' with label="Lavozimi" field=form.position col_class="col-md-12" %}
                        {% include 'components/form_group.html' with label="Telefon" field=form.phone_number col_class="col-md-6" %}
                        {% include 'components/form_group.html' with label="Soha" field=form.sector col_class="col-md-6" %}
                    </div>

                    {% with cancel_url="/otaliq/leaders/" show_delete=false %}
                    {% include 'components/form_actions.html' %}
                    {% endwith %}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}